@use "./layout/footer";
@use "./layout/header";
@use "./layout/main";
@use "./mq/mediaqueries";


// Style
* {
    font-family: "Comfortaa", sans-serif;

}

body {
    overflow: scroll !important;
    padding: 0 !important;
}