@use "./variables";


%textDecorationBlack {
    text-decoration: none;
    color: variables.$colorPrimary;
}

%textDecorationWhite {
    text-decoration: none;
    color: variables.$colorSecundary;
}

%headerCenterContainer {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 20rem;
    position: relative;
    object-fit: fill;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0px 12px 0px;
    margin: 0px 0px 20px 0px;
}

%botonpages {
    background-color: variables.$colorPrimary;
    border: none;
    border-radius: 4px;
    width: 100%;
    height: 32px;
    color: variables.$colorSecundary;
    margin: 6px 0px;
}

%categoryDesing {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8px;
    display: flex;
    align-items: flex-end;
    border-radius: 4px;
    height: 8rem;
}

%centerCategory {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 8px;
    color: variables.$colorSecundary;
}

%categoryTitulo {
    color: variables.$colorSecundary;
    font-size: 54px;
    font-weight: bolder;
}